

























#mainContent .post {
  /*代码高亮-start*/
  /*代码高亮-end*/
}
#mainContent .post .postTitle {
  margin-bottom: 40px;
}
#mainContent .post .postTitle a {
  text-decoration: none;
  color: #000;
}
#mainContent .post .cnblogs-markdown blockquote {
  border-top: none;
  border-right: none;
  border-bottom: none;
}
#mainContent .post .cnblogs-markdown code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !important;
  font-size: 14px !important;
}
#mainContent .post .cnblogs-markdown code * {
  font-family: Consolas, Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !important;
}
#mainContent .post .cnblogs-markdown pre code {
  border: none!important;
  background: transparent!important;
}
#mainContent .post img {
  max-width: 100% !important;
}
#mainContent .post p {
  margin: 0 0 25px 0;
  font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 14px;
  line-height: 2;
  color: #424242;
}
#mainContent .post li {
  margin: 0 0 8px 0;
  font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 14px;
  line-height: 2.4;
  color: #424242;
}
#mainContent .post p > code,
#mainContent .post li > code {
  margin-top: -2px;
  height: 20px;
  line-height: 20px;
}
#mainContent .post .hljs-comment {
  color: #ADADAD;
}
#mainContent .post .hljs-keyword {
  color: #2FB82C;
}
#mainContent .post .hljs-params {
  color: #f5871f;
}
#mainContent .post .hljs-built_in {
  color: #FF4FE0;
}
#mainContent .post .hljs-tag {
  color: #8689E7;
}
#mainContent .post .hljs-name {
  color: #0058CF;
}
#mainContent .post .hljs-op {
  color: #8689E7;
}
#mainContent .post .hljs-attr {
  color: #0BAA6A;
}
#mainContent .post .hljs-string {
  color: #39A6A6;
}
#mainContent .post .hljs-number {
  color: #0088FF;
}
#mainContent .post .hljs-title {
  color: #0698D0;
}
#mainContent .post .hljs-tag .hljs-string {
  color: #DD4826;
}
#mainContent .post .hljs-selector-id,
#mainContent .post .hljs-selector-class {
  color: #0000FF;
}
#mainContent .post .hljs-attribute {
  color: #0BAA20;
}
#mainContent .post span.at {
  color: #45A4E6;
}
#mainContent .post span.dt {
  color: #4592CE;
}